<div style='font-family: Poppins'>
  <!--   CONTENT   -->
  <table
    role='content'
    style='padding: 10px 0px; color: #363740; font-size: 16px;'
  >
    <tr>
      <td style='padding-bottom: 24px; font-weight: 600'>
        Hello {{name}},
      </td>
    </tr>

    <tr>
      <td>
        We are pleased to inform you that your recent contribution has been reviewed and approved!
      </td>
    </tr>
    <tr>
      <td>
        You can view your published contribution and any feedback it has received by following the link below:
      </td>
    </tr>
    <tr>
      <td>
        <div class="leading-full" style="padding: 10px 0px;">
          <a
            href="{{baseUrl}}student/contribution/{{contributionId}}"
            style="background-color: #000000; color: #ffffff; padding: 10px 16px; text-decoration: none; border-radius: 4px; display: inline-block;"
          >
            <!-- ... -->
            <span class="mso-text-raise-4">Check contribution address &rarr;</span>
            <!-- ... -->
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 16px;'>
        Your engagement and initiative in contributing valuable content are greatly appreciated. Keep up the great work!
      </td>
    </tr>

    <tr>
      <td style='padding-bottom: 8px;'>
        <span>Best regards,</span>
        <br />
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 8px;'>
        <span style='font-weight: 600'>The Coordinator Team</span>
      </td>
    </tr>
  </table>
</div>