<div style='font-family: Poppins'>
  <!--   CONTENT   -->
  <table
    role='content'
    style='padding: 10px 0px; color: #363740; font-size: 16px;'
  >
    <tr>
      <td style='padding-bottom: 24px; font-weight: 600'>
        Hello {{name}},
      </td>
    </tr>

    <tr>
      <td>
        Please check a contribution has been submitted or updated by a student and is awaiting your review.
      </td>
    </tr>
    <tr>
      <td>
        <div class="leading-full" style="padding: 10px 0px;">
          <a
            href="{{baseUrl}}mc/contribution/{{contributionId}}"
            style="background-color: #000000; color: #ffffff; padding: 10px 16px; text-decoration: none; border-radius: 4px; display: inline-block;"
          >
            <!-- ... -->
            <span class="mso-text-raise-4">Check contribution address &rarr;</span>
            <!-- ... -->
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 16px;'>
        Your prompt response will help maintain the workflow and support our students effectively.
      </td>
    </tr>

    <tr>
      <td style='padding-bottom: 8px;'>
        <span>Best regards,</span>
        <br />
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 8px;'>
        <span style='font-weight: 600'>OT Team</span>
      </td>
    </tr>
  </table>
</div>

{{!-- <div style='font-family: Poppins'>
  <!--   CONTENT   -->
  <!-- ... -->
  <p>Hello {{name}},</p> 
  <p class="m-0 ... sm:leading-8">
    Is it you we're looking for?
  </p>
  <p class="m-0 mb-6">
    Please confirm your email address by clicking the button below:
  </p>
  <div class="leading-full">
    <a
      href="https://www.facebook.com/thangtnsa/"
      class="inline-block ... hover:bg-indigo-500"
    >
      <!-- ... -->
      <span class="mso-text-raise-4">Confirm email address &rarr;</span>
      <!-- ... -->
    </a>
  </div>
  <!-- ... -->
</div> --}}
