<div style='font-family: Poppins'>
  <!--   CONTENT   -->
  <table
    role='content'
    style='padding: 10px 0px; color: #363740; font-size: 16px;'
  >
    <tr>
      <td style='padding-bottom: 24px; font-weight: 600'>
        Hello {{name}},
      </td>
    </tr>

    <tr>
      <td>
        Thank you for your recent submission to our contribution platform. After careful consideration, we regret to inform you that your contribution did not meet all the necessary criteria for publication at this time.
      </td>
    </tr>
    <tr>
      <td>
        We encourage you to review the feedback provided below and consider resubmitting your contribution after making the suggested improvements:
      </td>
    </tr>
    <tr>
      <td>
        <div class="leading-full" style="padding: 10px 0px;">
          <a
            href="{{baseUrl}}student/contribution/{{contributionId}}"
            style="background-color: #000000; color: #ffffff; padding: 10px 16px; text-decoration: none; border-radius: 4px; display: inline-block;"
          >
            <!-- ... -->
            <span class="mso-text-raise-4">Check feedback address &rarr;</span>
            <!-- ... -->
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 16px;'>
        We look forward to seeing your revised contribution and hope to publish it in the future.
      </td>
    </tr>

    <tr>
      <td style='padding-bottom: 8px;'>
        <span>Best regards,</span>
        <br />
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 8px;'>
        <span style='font-weight: 600'>The Coordinator Team</span>
      </td>
    </tr>
  </table>
</div>